@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tenor+Sans&display=swap');
@import 'tailwindcss';

body {
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  background-color: #1b1b1d;
  color: white;
}
* {
  box-sizing: border-box;
  /* outline: 1px solid rgb(128, 0, 0) !important; */
}
